body {
    background-color: #0f1624;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/hero_img.svg);
    background-repeat: no-repeat;
    background-position: 900px 120px;
}

.container {
    width: 1200px;
}

nav {
    width: 65%;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-e {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
}

.socialicons {
    width: 15%;
    display: flex;
    justify-content: space-around;

    .social {
        width: 32px;
        margin-right: 50px;
    }
}

header {
    display: flex;
    align-items: auto;
    justify-content: space-between;
}

.logo {
    width: 19%;
    display: flex;
    justify-content: space-around;

    h2 {
        color: #FFFFFF;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-size: 30px;
        line-height: 45px;
    }
}

.hero-content {
    margin-left: 100px;
    margin-top: 175px;

    h1 {
        width: 765px;
        height: 83px;
        left: 115px;
        top: 283px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 52px;
        line-height: 82px;
        color: #FFFFFF;
    }

    p {
        color: #BCBCBC;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 45px;
    }

    .button {
        width: 280px;
        height: 80px;
        left: 115px;
        top: 662px;
        background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 83px;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            color: #FFFFFF;
        }
    }

}