* {
  color: #FFFFFF;
}

body {
  background-color: #0f1624;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(img/hero_img.svg);
  background-repeat: no-repeat;
  background-position: 53.4vw 8.1vw;
  width: 100%;
}

.container {
  width: 1200px;
}

nav {
  width: 50%;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 61px;
}

.nav-e {
  color: #FFFFFF;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
  margin-left: 6px;
  text-decoration: none;
  position: relative;
}

.nav-e:hover::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 83px;
}

.social-icon:hover {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0;
  width: 100%;
  opacity: 0.5;
}

.social {
  width: 15%;
  display: flex;
  justify-content: space-around;
}

.social .social-icon {
  width: 32px;
  margin-right: 50px;
  position: relative;
  text-decoration: none;
  line-height: 36px;
}

header {
  display: flex;
  align-items: auto;
  justify-content: space-between;
}

.logo {
  width: 19%;
  display: flex;
  justify-content: space-around;
}

.logo h2 {
  color: #FFFFFF;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 30px;
  line-height: 45px;
}

.logo-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  margin-left: 91px;
  margin-top: 173px;
}

.hero-content h1 {
  width: 790px;
  height: 85px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 82px;
  color: #FFFFFF;
  letter-spacing: 2px;
  word-spacing: -2px;
  margin-top: 2px;
  margin-left: 2px;
}

.hero-content p {
  width: 840px;
  color: #BCBCBC;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  margin-top: 65px;
}

.button1 {
  width: 280px;
  height: 80px;
  margin-top: 92px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
}

.button1 .lets-begin {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: #FFFFFF;
}

.button1:hover {
  content: "";
  position: relative;
  opacity: 0.5;
}

.project-button:hover {
  content: "";
  position: relative;
  opacity: 0.5;
}

.burger-icon {
  color: #FFFFFF;
  display: none;
  position: absolute;
  right: 8vw;
  top: 47px;
}

.project-paragraph {
  max-width: 85%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #FFFFFF;
}

section {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 200px;
}

section .project-header::after {
  content: "";
  position: absolute;
  top: 70px;
  left: -30%;
  bottom: 0;
  width: 160%;
  height: 10px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 83px;
}

section .project-header {
  align-self: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  margin-left: -8%;
  position: relative;
  margin-top: 0px;
}

section .project1 {
  border: solid 1px white;
  max-width: 100%;
  height: 600px;
  box-shadow: 0px 0px 12px #FFFFFF;
  border-radius: 50px 0px;
  display: flex;
  justify-content: space-around;
  margin-top: 93px;
  margin-bottom: 50px;
}

section .project1 .project-paragraph {
  margin-top: 75px;
  margin-left: 20px;
}

section .project1 .project-button {
  margin-top: 30px;
  margin-left: -20px;
}

section .project1-img {
  width: 42.5%;
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0px 0px 50px 0px;
  margin: 30px;
}

.project2-3 {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}

.project2-3 .project-header::after {
  height: 5px;
  top: 65px;
}

.project2-3 img {
  width: 91%;
  max-height: 38%;
  border: 1px solid #0F1624;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50px 10px 10px 10px;
  margin-left: 22px;
  margin-top: 22px;
}

.project2-3 p {
  margin-top: 50px;
  margin-left: 10px;
  max-width: 92%;
}

.project2 {
  border: solid 1px white;
  width: 45.5%;
  max-height: 720px;
  box-shadow: 0px 0px 12px #FFFFFF;
  border-radius: 50px 0px;
}

.project2 .project-header {
  margin-top: -18px;
  margin-left: -18px;
}

.project2 .project-button {
  margin-top: 15px;
}

.project2 .project-paragraph {
  margin-top: 10px;
  max-width: 90%;
}

.project3 {
  border: solid 1px white;
  max-height: 720px;
  width: 45.5%;
  box-shadow: 0px 0px 12px #FFFFFF;
  border-radius: 50px 0px;
  margin-right: -5px;
}

.project3 .project-header {
  margin-top: -15px;
  margin-left: -25px;
}

.project3 .project-button {
  margin-top: 11px;
  margin-left: -20px;
}

.project3 .project-paragraph {
  margin-left: -10px;
  margin-top: 10px;
  max-width: 90%;
}

.projects-header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 82.5%;
  margin-top: 50px;
  margin-left: 68px;
  color: #FFFFFF;
  width: 100%;
}

.project-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  color: #FFFFFF;
  margin: auto;
}

.project-button {
  display: block;
  align-self: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  width: 220px;
  height: 65px;
}








/*Third Part*/
.technologies-section {
  max-width: 100%;
  margin-top: 125px;
  position: relative;
}

.technologies-header {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
  margin-left: 100px;
}

.range {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-top: 54px;
}

.left-scale {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  margin-left: 25px;
}

.right-scale {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-right: 110px;
  align-self: flex-end;
}

.full-scale {
  width: 100%;
  height: 32px;
  background: #162950;
  border-radius: 83px;
}

.advanced-scale {
  position: absolute;
  top: 54px;
  width: 75%;
  height: 32px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  border-radius: 83px;
}

.regular-scale {
  position: absolute;
  top: 54px;
  width: 50%;
  height: 32px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  border-radius: 83px;
}

.beginner-scale {
  position: absolute;
  top: 54px;
  width: 25%;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  height: 32px;
  border-radius: 83px;
}

.additional-header {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  margin-top: 150px;
}

.skills {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.point {
  margin-left: 30px;
  margin-bottom: 45px;
  width: 39.5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.raindrop {
  width: 25px;
  height: 25px;
  margin-right: 50px;
  background: linear-gradient(271.6deg, #13ADC7 1.52%, #6978D1 67.44%, #945DD6 96.85%);
  border-radius: 0px 250px 250px 250px;
}

.point-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-header {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
  margin-top: 135px;
  margin-left: 100px;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-left: 100px;
}

.about-p {
  width: 45%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin-top: 0;
}

.about-img {
  margin-left: 45px;
  margin-top: 0;
  width: 50%;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.img-bg {
  z-index: -1;
  position: absolute;
  width: 350px;
  height: 310px;
  background: linear-gradient(271.6deg, #13ADC7 1.52%, #6978D1 67.44%, #945DD6 96.85%);
  box-shadow: 0px 0px 12px #FFFFFF;
  border-radius: 0px 250px 250px 250px;
}

.avatar {
  margin-top: 25px;
  width: 300px;
  height: 350px;
}

.contacts {
  width: 100%;
  position: absolute;
  bottom: -375px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 63px;
}
.contacts-icons{
  max-width: 210px;
  max-height: 62px;
  display: flex;
  justify-content: space-between;
}
.contacts-icon{
  height: 72px;
  margin-left: 50px;
}











@media (max-width: 800px) {
  body {
    background-position: 45vw 20vw;
    background-size: 100%;
  }

  .hero-content {
    margin-top: 0;
    margin-left: 50px;
  }

  .hero-content h1 {
    max-width: 70vw;
    font-size: 30px;
    letter-spacing: 0px;
    word-spacing: 0;
    margin-top: 0;
    line-height: 55px;
  }

  .hero-content p {
    font-size: 3vw;
    line-height: 5vw;
    max-width: 70vw;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  nav {
    /* display: none; */
    background: linear-gradient(90deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    opacity: 0.98;
    border-radius: 10px;
    position: absolute;
    overflow: hidden;
    display: block;
    margin-left: 0px;
    max-height: 0px;
    transition: max-height 0.3s ease-in;
    width: 50%;
    text-align: center;
    right: 0;
    margin-right: 0;
  }

  .nav-e {
    color: #2b012b;
  }

  nav.show {
    /* display: block; */
    max-height: 120px;
  }

  .logo {
    display: flex;
    margin-left: 20vw;
  }

  .logo .logo-link {
    margin-right: 3vw;
  }

  .social {
    display: none;
  }

  .burger-icon {
    display: block;
  }

  .button1 {
    width: 30vw;
    height: 10vw;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .button1 .lets-begin {
    font-size: 3.5vw;
  }

  header {
    display: block;
  }

  section {
    margin-top: 70px;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  section .projects-header {
    font-size: 10vw;
    margin-top: 0;
    margin-left: 40px;
  }

  section .project-header::after {
    width: 100%;
    left: 0px;
    margin-top: -20px;
    height: 5px;
  }

  section .project1 {
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    border: solid 1px white;
    box-shadow: 0px 0px 12px #FFFFFF;
    border-radius: 50px 0px;
    width: 80%;
    height: auto;
  }

  section .project1 .project-text {
    margin-top: 0;
  }

  section .project1 .project-header {
    margin-top: 0;
  }

  section .project1 img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    max-height: 38%;
    width: 91%;
    margin: 2vw;
    border-radius: 50px 10px 10px 10px;
    padding: 0;
  }

  section .project1 .project-button {
    margin: 10px;
  }

  section .project2-3 {
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section .project2 {
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: auto;
    width: 80%;
  }

  section .project2 img {
    margin: 2vw;
  }

  section .project2 .project-button {
    margin: 10px;
  }

  section .project3 {
    min-height: auto;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  section .project3 img {
    margin: 2vw;
  }

  section .project3 .project-button {
    margin: 10px;
  }

  section .project-button {
    width: 30vw;
    height: 10vw;
    font-size: 3.5vw;
  }

  section .project-paragraph {
    font-size: 3vw;
    line-height: 5vw;
    margin-bottom: 2%;
    margin-top: 7%;
  }

  section .project-header {
    font-size: 5vw;
    padding: 10px;
  }
}

/*# sourceMappingURL=style.css.map */